.App {
  max-width: 1200px;
  margin: auto;
  min-width: 500px;
  display: flex;
  flex-direction: column;
}

.grid-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 35vh 58vh;
  column-gap: 0.5em;
  row-gap: 0.5em;
  padding: 1em;
}

.youtube-container {
  grid-column: span 9;
}
.youtube-container div {
  height: 100%;
}
.chapters-container {
  grid-column: span 3;
}

.info-container {
  grid-column: span 3;
}

.map-container {
  grid-column: span 9;
}

.info {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-rows: 25vh 18vh auto;
    column-gap: 0.2em;
    row-gap: 0.2em;
    padding: 0.2em;
  }
  .youtube-container {
    grid-column: span 12;
  }

  .chapters-container {
    grid-column: span 3;
  }

  .info-container {
    grid-column: span 9;
  }

  .map-container {
    grid-column: span 12;
  }

  /* .img-fluid {
    max-height: 100%;
    width: auto;
  } */
  .info {
    flex-direction: row;
    height: 100%;
  }
  .info .ratio {
    /* width: 15vh; */
    display: none;
  }
  .info hr:nth-child(1) {
    display: none;
  }

  .info-container address {
    margin: 0.5em;
    flex-grow: 1;
  }

  .info .notes {
    width: 50%;
  }
}
