.App {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.episodes.nav {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.episodes .nav-link {
  white-space: nowrap;
}

.grid-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 35vh 52vh;
  column-gap: 0.5em;
  row-gap: 0.5em;
  padding: 1em;
}

.youtube-container {
  grid-column: span 9;
}
.youtube-container div {
  height: 100%;
}
.chapters-container {
  grid-column: span 3;
}

.info-container {
  grid-column: span 3;
}

.map-container {
  grid-column: span 9;
}

.info {
  display: flex;
  flex-direction: column;
}
.chapters-container {
  overflow-x: hidden;
  overflow-y: auto;
  flex-wrap: nowrap;
}

@media (max-width: 767.98px) {
  .grid-container {
    grid-template-rows: calc(100vw * 9 / 16) 80px fit-content(200px) minmax(
        100vw,
        auto
      );
    column-gap: 0.2em;
    row-gap: 0.2em;
    padding: 0.2em;
  }
  .youtube-container {
    grid-column: span 12;
  }

  .chapters-container {
    grid-column: span 12;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
  }

  .chapters-container .list-group {
    flex-direction: row;
  }

  .chapters-container .list-group .list-group-item p {
    white-space: nowrap;
    margin-bottom: 0;
  }
  .info-container {
    grid-column: span 12;
  }

  .map-container {
    grid-column: span 12;
  }

  /* .img-fluid {
    max-height: 100%;
    width: auto;
  } */
  .info {
    flex-direction: row;
    height: 100%;
  }
  .info .img-containter {
    /* width: 15vh; */
    display: none;
  }
  .info hr:first-of-type {
    display: none;
  }

  .info-container address {
    margin: 0.5em;
    width: 50%;
  }

  .info-container .loading {
    margin: auto;
    height: 167px;
  }
  .info .notes {
    width: 50%;
    position: relative;
  }

  .info .notes .inner {
    position: absolute;
  }
}
